<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>CleanMaster</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletCliente</display-name>
    <servlet-name>ServletCliente</servlet-name>
    <servlet-class>com.autolavado.controlador.ServletCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCliente</servlet-name>
    <url-pattern>/ServletCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTipoClienteJSON</display-name>
    <servlet-name>ServletTipoClienteJSON</servlet-name>
    <servlet-class>com.autolavado.controlador.ServletTipoClienteJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTipoClienteJSON</servlet-name>
    <url-pattern>/ServletTipoClienteJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletClienteReporte</display-name>
    <servlet-name>ServletClienteReporte</servlet-name>
    <servlet-class>com.autolavado.controlador.ServletClienteReporte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletClienteReporte</servlet-name>
    <url-pattern>/ServletClienteReporte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerarReporteServlet</display-name>
    <servlet-name>GenerarReporteServlet</servlet-name>
    <servlet-class>com.autolavado.controlador.GenerarReporteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerarReporteServlet</servlet-name>
    <url-pattern>/GenerarReporteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletClienteJSON</display-name>
    <servlet-name>ServletClienteJSON</servlet-name>
    <servlet-class>com.autolavado.controlador.ServletClienteJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletClienteJSON</servlet-name>
    <url-pattern>/ServletClienteJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>com.autolavado.controlador.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLimpiadorJSON</display-name>
    <servlet-name>ServletLimpiadorJSON</servlet-name>
    <servlet-class>com.autolavado.controlador.ServletLimpiadorJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLimpiadorJSON</servlet-name>
    <url-pattern>/ServletLimpiadorJSON</url-pattern>
  </servlet-mapping>
</web-app>